<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebAppSelle</display-name>
  <welcome-file-list>
    <welcome-file>Paginaprincipal.html</welcome-file>
    <welcome-file>Paginaprincipal.htm</welcome-file>
    <welcome-file>Paginaprincipal.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>com.srk.pkg.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.srk.pkg.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agregarLavarropa</display-name>
    <servlet-name>agregarLavarropa</servlet-name>
    <servlet-class>com.srk.pkg.agregarLavarropa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agregarLavarropa</servlet-name>
    <url-pattern>/agregarLavarropa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listarLavarropas</display-name>
    <servlet-name>listarLavarropas</servlet-name>
    <servlet-class>com.srk.pkg.listarLavarropas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarLavarropas</servlet-name>
    <url-pattern>/listarLavarropas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agregarTelevisor</display-name>
    <servlet-name>agregarTelevisor</servlet-name>
    <servlet-class>com.srk.pkg.agregarTelevisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agregarTelevisor</servlet-name>
    <url-pattern>/agregarTelevisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listadoLavarropas</display-name>
    <servlet-name>listadoLavarropas</servlet-name>
    <servlet-class>com.srk.pkg.listadoLavarropas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoLavarropas</servlet-name>
    <url-pattern>/listadoLavarropas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listadoElectrodomesticos</display-name>
    <servlet-name>listadoElectrodomesticos</servlet-name>
    <servlet-class>com.srk.pkg.listadoElectrodomesticos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listadoElectrodomesticos</servlet-name>
    <url-pattern>/listadoElectrodomesticos</url-pattern>
  </servlet-mapping>
</web-app>